@use "../styles/utils" as *;

.button {
  color: $white;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 3px;
  text-align: center;
  padding: $padding * 0.5;
  background-color: $accent;
  box-shadow: 0px 2px 3px $shadow;
  transition: background-color 200ms ease-in-out;

  &:active,
  &:focus,
  &:hover {
    background-color: $accentDark;
    box-shadow: 0px 4px 3px $shadow;
  }

  &:disabled {
    color: $darkGray;
    box-shadow: none;
    cursor: not-allowed;
    background-color: $accentDark;
  }
}
