.logRow {
  min-height: 60px;
  max-height: 60px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  display: grid;
  grid-template-columns: 60px 1fr minmax(60px, 15%);

  .index {
    display: flex;
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    color: hsla(0, 0%, 0%, 0.5);
    border-right: 2px solid hsla(0, 0%, 0%, 30%);
  }

  .main {
    gap: 0.5em;
    display: flex;
    padding: 0.5em 1em;
    align-items: center;

    .reading {
      font-weight: bold;

      & > span:first-child {
        font-size: 1.75em;
        margin-right: 5px;
        letter-spacing: 1px;
      }
    }

    .readingChange {
      font-size: 1.1em;
      padding-top: 0.3em;
    }
  }

  .date {
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 4px 4px 0;

    & > span:first-child {
      font-size: 1.1em;
      font-weight: bold;
    }

    & > span:last-child {
      font-size: 0.9em;
      text-transform: uppercase;
    }
  }
}
