@use "../../styles/utils" as *;

.logsContainer {
  height: 65vh;
  display: flex;
  max-height: 65vh;
  padding-top: 2px;
  overflow-y: scroll;
  flex-direction: column;
  padding-bottom: $padding * 2;
}
