.container {
  gap: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10% 0;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  & > * {
    width: 80%;
  }
}

.title {
  font-weight: 700;
  margin-bottom: 2em;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: clamp(1.5em, 10vw + 1em, 2.5em);
}

.success {
  color: hsl(175, 62%, 34%);
}

.error {
  color: hsl(0, 78%, 59%);
}

.inputWrapper {
  gap: 1em;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  & > * {
    width: 100%;
  }

  label {
    text-align: start;
    text-transform: capitalize;
    font-size: clamp(0.75em, 5vw + 0.75em, 1.5em);
  }

  input {
    color: black;
    padding: 0.5em;
    font-size: clamp(0.75em, 5vw + 0.75em, 1.5em);
  }

  small {
    font-weight: 700;
    margin-bottom: 2em;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: "Courier New", Courier, monospace;
  }

  button {
    padding: 1em;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    padding: 1em 2em;
    text-align: center;
    border-radius: 1px;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    transition: background-color 200ms ease-in-out;
    font-size: clamp(0.75em, 1vmin + 0.75em, 1.25em);

    &:focus,
    &:active,
    &:hover {
      background-color: hsl(0, 0%, 20%);
    }

    &:disabled {
      cursor: not-allowed;
      color: hsla(0, 0%, 100%, 0.8);
      background-color: hsl(0, 0%, 10%);

      &:focus,
      &:active,
      &:hover {
        background-color: hsl(0, 0%, 10%);
      }
    }
  }
}
