$white: #ffffff;
$black: #000000;

$gray: #00000099;
$darkGray: #000000dd;
$lightGray: #00000011;

$bg: #6e85b7;
$accent: hsl(197, 71%, 56%);
$accentDark: hsl(197, 71%, 46%);

$edit: #2a46a9;
$bin: #f25f4c;

$increment: #3fbfa0;
$decrement: #bf3f3f;

$shadow: #00000040;

$padding: 1em;

$mobile: 426px;
$tablet: 769px;
$laptop: 1025px;

$blue: #69cad3;
$purple: #869bde;
$violet: #b1adf7;
$orange: #febd55;
$pink: #f19d8e;
$red: #f49bb4;
